.aui {
  height: 100%;
  /* ---------- Carousel ---------- */
  /* ---------- dockbar vertical ---------- */ }
  .aui .dockbar-vertical .icon-toggle-dockbar {
    top: 55px; }
  .aui body {
    height: 100%; }
    .aui body.space-between-header #content {
      margin-top: 20px; }
    .aui body.negative-space-between-header #content {
      position: relative;
      top: -46px; }
    .aui body.yui3-skin-sam .yui3-widget-mask {
      opacity: .4; }
    .aui body.macModal {
      overflow: hidden; }
  .aui a {
    text-shadow: none; }
    .aui a.btn {
      border-radius: 0;
      border-width: 0; }
  .aui form {
    margin: 0; }
  .aui #macModal {
    border-radius: 0;
    height: 100%;
    display: block !important;
    left: inherit !important;
    overflow: auto;
    right: -50% !important;
    top: 0 !important;
    width: 50%;
    background: #555;
    color: #FFF;
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    transform: rotate(-20deg); }
    .aui #macModal.animOn {
      right: 0 !important;
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      transition: all 0.2s ease;
      -webkit-transform: rotate(0);
      -moz-transform: rotate(0);
      -ms-transform: rotate(0);
      -o-transform: rotate(0);
      transform: rotate(0);
      -webkit-transform: perspective(0) translate3d(0, 0, 0);
      -moz-transform: perspective(0) translate3d(0, 0, 0);
      -ms-transform: perspective(0) translate3d(0, 0, 0);
      -o-transform: perspective(0) translate3d(0, 0, 0);
      transform: perspective(0) translate3d(0, 0, 0); }
    .aui #macModal .hide {
      display: block !important;
      margin: 15px 0; }
      .aui #macModal .hide .row-fluid {
        margin: 25px 0; }
    .aui #macModal .modal-header {
      border-bottom: 1px solid #666;
      padding: 10px 25px; }
      .aui #macModal .modal-header .close {
        color: #FFF;
        font-size: 45px;
        line-height: 40px;
        opacity: 1;
        width: 30px; }
    .aui #macModal .modal-body {
      padding: 25px;
      max-height: inherit; }
      .aui #macModal .modal-body img.full {
        width: 100%; }
      .aui #macModal .modal-body h1 {
        display: none; }
  .aui #wrapper {
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0; }
  .aui #banner {
    background: #666;
    height: 46px;
    z-index: 9; }
    .aui #banner a {
      color: #FFF;
      display: inline-block; }
      .aui #banner a:hover, .aui #banner a.active {
        text-decoration: none;
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
        opacity: 0.5; }
    .aui #banner #heading {
      display: inline-block; }
      .aui #banner #heading .default-logo {
        min-height: 46px; }
        .aui #banner #heading .default-logo img {
          max-height: 35px;
          max-width: 35px;
          padding-top: 3px; }
    .aui #banner #navigation {
      display: block;
      text-align: justify; }
      .aui #banner #navigation ul {
        margin: 0;
        min-height: 46px;
        vertical-align: top; }
      .aui #banner #navigation #heading {
        display: inline-block;
        width: 35px; }
      .aui #banner #navigation li {
        display: inline-block;
        list-style: none; }
        .aui #banner #navigation li a {
          display: block;
          font-size: 110%;
          font-weight: 300;
          line-height: 25px;
          padding: 10px; }
        .aui #banner #navigation li.selected a {
          opacity: 0.7; }
      .aui #banner #navigation #sign-in {
        display: inline-block;
        font-size: 20px;
        margin-left: 20px;
        vertical-align: middle; }
      .aui #banner #navigation .right-icon-group {
        display: inline-block;
        text-align: right; }
      .aui #banner #navigation .portlet-search {
        display: inline-block;
        margin-right: -25px; }
        .aui #banner #navigation .portlet-search form {
          margin: 0;
          padding: 0; }
          .aui #banner #navigation .portlet-search form input {
            margin-bottom: 3px;
            padding: 0;
            width: 1px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
            border-radius: 5px;
            filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
            opacity: 0; }
          .aui #banner #navigation .portlet-search form select, .aui #banner #navigation .portlet-search form input[type="image"] {
            display: none; }
      .aui #banner #navigation .ul-main-nav:after {
        content: " ";
        display: inline-block;
        height: 0;
        position: relative;
        width: 100%; }
      .aui #banner #navigation * {
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        -webkit-transform: perspective(0) translate3d(0, 0, 0);
        -moz-transform: perspective(0) translate3d(0, 0, 0);
        -ms-transform: perspective(0) translate3d(0, 0, 0);
        -o-transform: perspective(0) translate3d(0, 0, 0);
        transform: perspective(0) translate3d(0, 0, 0); }
  .aui .opened-search #banner #navigation .portlet-search form input {
    padding: 4px;
    width: 150px;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1; }
  .aui .opened-search #banner #navigation .open-search {
    color: #555;
    width: 13px; }
    .aui .opened-search #banner #navigation .open-search .icon-search:before {
      content: "\f054"; }
  .aui #content {
    min-height: 100%;
    padding: 0; }
  .aui #footer {
    background: #F2F2F2; }
    .aui #footer .container {
      padding: 20px 0; }
  .aui .component.carousel {
    line-height: inherit;
    margin-bottom: 0;
    overflow: hidden; }
    .aui .component.carousel .carousel-item {
      width: 100%; }
    .aui .component.carousel menu {
      background: transparent;
      bottom: 0;
      height: 10%;
      left: 0;
      padding: 0;
      text-align: center;
      width: 100%; }
      .aui .component.carousel menu li {
        display: inline-block;
        float: none; }
        .aui .component.carousel menu li .carousel-menu-item {
          bottom: 20px; }
        .aui .component.carousel menu li .carousel-menu-prev, .aui .component.carousel menu li .carousel-menu-next {
          background: url(@theme_image_path@/carousel/prev.png) transparent no-repeat center;
          bottom: 300%;
          height: 50px;
          left: 50px;
          opacity: 0;
          position: absolute;
          width: 50px;
          -webkit-transition: all 0.2s ease;
          -moz-transition: all 0.2s ease;
          -o-transition: all 0.2s ease;
          transition: all 0.2s ease;
          -webkit-transform: perspective(0) translate3d(0, 0, 0);
          -moz-transform: perspective(0) translate3d(0, 0, 0);
          -ms-transform: perspective(0) translate3d(0, 0, 0);
          -o-transform: perspective(0) translate3d(0, 0, 0);
          transform: perspective(0) translate3d(0, 0, 0); }
          .aui .component.carousel menu li .carousel-menu-prev:hover, .aui .component.carousel menu li .carousel-menu-next:hover {
            filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
            opacity: 0.4;
            -webkit-transition: all 0.2s ease;
            -moz-transition: all 0.2s ease;
            -o-transition: all 0.2s ease;
            transition: all 0.2s ease;
            -webkit-transform: perspective(0) translate3d(0, 0, 0);
            -moz-transform: perspective(0) translate3d(0, 0, 0);
            -ms-transform: perspective(0) translate3d(0, 0, 0);
            -o-transform: perspective(0) translate3d(0, 0, 0);
            transform: perspective(0) translate3d(0, 0, 0); }
        .aui .component.carousel menu li .carousel-menu-next {
          background-image: url(@theme_image_path@/carousel/next.png);
          left: inherit;
          right: 50px; }
        .aui .component.carousel menu li .carousel-menu-index {
          background: #FFF;
          margin: 3px;
          padding: 1px; }
          .aui .component.carousel menu li .carousel-menu-index.carousel-menu-active {
            background: transparent;
            border: 2px solid #FFF;
            margin: 1px; }
        .aui .component.carousel menu li .carousel-menu-pause {
          background-size: cover;
          border: 2px solid #FFF;
          display: none;
          height: 12px;
          margin: 0 7px;
          width: 12px; }
    .aui .component.carousel:hover menu .carousel-menu-prev, .aui .component.carousel:hover .carousel-menu-next {
      opacity: 1; }
  .aui .columns-max {
    margin: 0 auto;
    max-width: 1170px; }
  .aui .dockbar-vertical .icon-toggle-dockbar {
    z-index: 9; }
  .aui .dockbar-vertical .portlet-dockbar .navbar {
    z-index: 10; }

/* ---------- Responsive ---------- */
@media screen and (min-width: 1170px) {
  .aui .opened-search #banner #navigation .portlet-search form input {
    width: 150px; } }
@media (min-width: 768px) and (max-width: 979px) {
  #banner #navigation li a {
    float: left;
    padding: 2%;
    text-align: center;
    width: 22%; } }
@media (max-width: 979px) {
  .aui body {
    padding: 0; }
    .aui body .portlet-dockbar {
      display: block; }
  .aui #macModal {
    width: 100%; }
  .aui #banner {
    height: auto; }
    .aui #banner .container {
      width: 100%; }
    .aui #banner #navigation .menu-icon {
      cursor: pointer;
      height: 25px;
      left: 20px;
      position: absolute;
      top: 12px;
      width: 25px; }
      .aui #banner #navigation .menu-icon .line1, .aui #banner #navigation .menu-icon .line2 {
        background: #FFF;
        display: block;
        height: 3px;
        position: relative;
        top: 7px;
        width: 17px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
        border-radius: 3px; }
      .aui #banner #navigation .menu-icon .line2 {
        top: 12px; }
    .aui #banner #navigation #heading {
      left: 50%;
      margin-left: -20px;
      position: relative;
      top: 13px;
      width: 40px; }
    .aui #banner #navigation .right-icon-group {
      position: absolute;
      right: 20px;
      top: 13px; }
    .aui #banner #navigation ul li {
      display: none; }
  .aui .opened-search #banner #navigation .portlet-search form input {
    font-size: 110%;
    padding: 2px 4px; }
  .aui .opened-menu-icon #banner #navigation .menu-icon .line1 {
    top: 12px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg); }
  .aui .opened-menu-icon #banner #navigation .menu-icon .line2 {
    top: 9px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg); }
  .aui .opened-menu-icon #banner #navigation ul li {
    display: block; }
  .aui .opened-menu-icon #banner #navigation #heading {
    padding-bottom: 30px; }
  .aui #footer ul {
    padding: 20px; } }
@media (max-width: 767px) {
  .aui .marginsOnMobile {
    padding: 0 20px; } }

